<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>user</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <base href="/">
  <!-- Favicons -->
  <link href="admin/img/favicon.png" rel="icon">
  <link href="admin/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="admin/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="admin/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="admin/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="admin/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="admin/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="admin/vendor/simple-datatables/style.css" rel="stylesheet">
  <!---------BOOTSRAP CDN----------->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>
<!-- Template Main CSS File -->
<link href="admin/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="admin/img/logo.png" alt="">
        <span class="d-none d-lg-block">SAFAT EDUMART</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <!-- <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div> -->
    <!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block  ps-2">jamsheer m c</span>
          </a><!-- End Profile Iamge Icon -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/dashboard">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>

      <!-- End Dashboard Nav -->
      
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" href="/admin/category">
          <i class="bi bi-journal-text"></i><span>category</span>
        </a>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" href="/admin/products">
          <i class="bi bi-menu-button-wide"></i><span>Products</span>
        </a>
      </li><!-- End Components Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" href="/admin/orders">
          <i class="bi bi-layout-text-window-reverse"></i><span>Orders</span>
        </a>
      </li>
      <!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav"  href="admin/coupons">
          <i class="bi bi-bar-chart"></i><span>Coupons</span><i ></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav"  href="admin/product_offers">
          <i class="bi bi-bag"></i><span>Product Offers</span><i ></i>
        </a>
      </li>
        
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav"  href="admin/category_offers">
          <i class="bi bi-tag"></i><span>Category Offers</span><i ></i>
        </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav"  href="#">
          <i class="bi bi-gem"></i><span>Banner</span>
        </a>
      </li> -->

      <!-- End Icons Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" href="/admin/sales-report">
          <i class="bi bi-gem"></i><span>Report</span>
        </a>
      </li>
      <!-- End Icons Nav -->

      <li class="nav-heading">User Management</li>

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="#">
          <i class="bi bi-person"></i>
          <span>Admins</span>
        </a>
      </li> -->
      <!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link " href="/admin/users">
          <i class="bi bi-question-circle"></i>
          <span>Users</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-heading">Others</li>

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li> -->
      <!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="user/logout">
          <i class="bi bi-question-circle"></i>
          <span>Logout</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="pagetitle">
      <h1>user</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a>Home</a></li>
          <li class="breadcrumb-item active">user</li>
        </ol>
      </nav>
    </div>
    <!-- End Page Title -->
    <div class="row">
      <div class="col-12 col-md-2 mb-3 mb-md-0">
        <!-- Left Button -->
        <!-- Button trigger modal -->
        <!-- Button trigger modal -->
      </div>

    </div>
    <section class="section dashboard mt-4">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (user.length> 0) {
                  user.forEach((element, index) => { %>
                  <tr>
                    <th scope="row">
                      <%= index + 1 %>
                    </th>
                    <td>
                      <%= element.firstName %>
                    </td>
                    <td>
                      <%= element.lastName %>
                    </td>
                    <td>
                      <%= element.email %>
                    </td>
                    <td>
                      <%= element.status %>
                    </td>
                    <% if (element.status=="unblock" ) { %>
                      <td>
                        <i class="fa-solid fa-lock" data-toggle="modal"
                          data-target="#exampleModalCenterdelete<%= element._id %>"></i>
                      </td>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModalCenterdelete<%= element._id %>" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Block User</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure you want to Block this User?
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                              <a href="/admin/block-user/?id=<%= element._id %>"><button type="button"
                                  class="btn btn-danger">Block</button></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } else { %>
                        <td>
                          <i class="fa-solid fa-unlock" data-toggle="modal"
                            data-target="#exampleModalCenterrecover<%= element._id %>"></i>
                        </td>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenterrecover<%= element._id %>" tabindex="-1"
                          role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Unblock User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to Unlock this User?
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <a href="/admin/unblock-user/?id=<%= element._id %>"><button type="button"
                                    class="btn btn-success">Unblock</button></a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <% } %>
                  </tr>
                  <% })} else { %>
                    <td colspan="5">No users found</td>
                    <% } %>
              </tbody>
            </table>

          </div>

        </div>

      </div>
      </div><!-- End Recent Sales -->


      </div>
      </div><!-- End Left side columns -->






      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="admin/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="admin/vendor/chart.js/chart.umd.js"></script>
  <script src="admin/vendor/echarts/echarts.min.js"></script>
  <script src="admin/vendor/quill/quill.min.js"></script>
  <script src="admin/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="admin/vendor/tinymce/tinymce.min.js"></script>
  <script src="admin/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="admin/js/main.js"></script>

  <!---    bootstrap   -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</body>

</html>