<!doctype html>
<html class="no-js" lang="zxx">

<!-- checkout31:27-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Checkout </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="user/images/favicon.png">
    <!-- Material Design Iconic Font-V2.2.0 -->
    <link rel="stylesheet" href="user/css/material-design-iconic-font.min.css">

    <!--font awesome cdn-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="user/css/font-awesome.min.css">
    <!-- Font Awesome Stars-->
    <link rel="stylesheet" href="user/css/fontawesome-stars.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="user/css/meanmenu.css">
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="user/css/owl.carousel.min.css">
    <!-- Slick Carousel CSS -->
    <link rel="stylesheet" href="user/css/slick.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="user/css/animate.css">
    <!-- Jquery-ui CSS -->
    <link rel="stylesheet" href="user/css/jquery-ui.min.css">
    <!-- Venobox CSS -->
    <link rel="stylesheet" href="user/css/venobox.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="user/css/nice-select.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="user/css/magnific-popup.css">
    <!-- Bootstrap V4.1.3 Fremwork CSS -->
    <link rel="stylesheet" href="user/css/bootstrap.min.css">
    <!-- Helper CSS -->
    <link rel="stylesheet" href="user/css/helper.css">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="styleSheet/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="user/css/responsive.css">
    <!-- Modernizr js -->
    <script src="user/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/css/uikit.min.css" rel="stylesheet">

    <!---------BOOTSRAP CDN----------->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
</head>

<body>
    <!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
    <!-- Begin Body Wrapper -->
    <div class="body-wrapper">
        <!-- Begin Header Area -->
        <header>
            <!-- Begin Header Top Area -->

            <!-- Header Top Area End Here -->
            <!-- Begin Header Middle Area -->
            <div class="header-middle pl-sm-0 pr-sm-0 pl-xs-0 pr-xs-0">
                <div class="container">
                    <div class="row">
                        <!-- Begin Header Logo Area -->
                        <div class="col-lg-3">
                            <div class="logo pb-sm-30 pb-xs-30">
                                <a>
                                    <img img src="admin/logo/2.png" alt="" width="200px" height="50px">
                                </a>
                            </div>
                        </div>
                        <!-- Header Logo Area End Here -->
                        <!-- Begin Header Middle Right Area -->
                        <div class="col-lg-9 pl-0 ml-sm-15 ml-xs-15">
                            <!-- Begin Header Middle Searchbox Area -->
                            <!-- <form action="#" class="hm-searchbox">
                                    <select class="nice-select select-search-category">
                                        <option value="0">All</option>                         
                                    
                                    </select>
                                    <input type="text" placeholder="Enter your search key ...">
                                    <button class="li-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form> -->
                            <!-- Header Middle Searchbox Area End Here -->
                            <!-- Begin Header Middle Right Area -->
                            <div class="header-middle-right">
                                <ul class="hm-menu">
                                    <!-- Begin Header Middle Wishlist Area -->
                                    <!-- <li class="hm-wishlist">
                                            <a href="wishlist.html">
                                                <span class="cart-item-count wishlist-item-count">0</span>
                                                <i class="fa fa-heart-o"></i>
                                            </a>
                                        </li> -->
                                    <!-- Header Middle Wishlist Area End Here -->
                                    <!-- Begin Header Mini Cart Area -->
                                    <li class="hm-wishlist">
                                        <a href="/user/shopping-cart">
                                            <!-- <span class="cart-item-count wishlist-item-count">0</span> -->
                                            <i class="fa-solid fa-cart-shopping"></i>
                                        </a>
                                    </li>
                                    <!-- Header Mini Cart Area End Here -->
                                    <!-- Begin user Area -->
                                    <li class="hm-wishlist">
                                        <a href="user/logout">
                                            <i class="fa-solid fa-user"></i>
                                        </a>
                                    </li>
                                    <!-- Header Mini Cart Area End Here -->
                                </ul>
                            </div>
                            <!-- Header Middle Right Area End Here -->
                        </div>
                        <!-- Header Middle Right Area End Here -->
                    </div>
                </div>
            </div>
            <!-- Header Middle Area End Here -->
            <!-- Begin Header Bottom Area -->
            <div class="header-bottom mb-0 header-sticky stick d-none d-lg-block d-xl-block">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Begin Header Bottom Menu Area -->
                            <div class="hb-menu">
                                <nav>
                                    <ul>
                                        <li class="dropdown-holder"><a href="/">Home</a></li>
                                        <!-- <li><a href="contact.html">Contact</a></li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="#">My PROFILE</a></li>
                                            <li><a href="#">MY ORDERS</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                            <!-- Header Bottom Menu Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Bottom Area End Here -->
            <!-- Begin Mobile Menu Area -->
            <div class="mobile-menu-area d-lg-none d-xl-none col-12">
                <div class="container">
                    <div class="row">
                        <div class="mobile-menu">
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu Area End Here -->
        </header>
        <!-- Header Area End Here -->
        <!-- Begin Li's Breadcrumb Area -->
        <div class="breadcrumb-area">
            <div class="container">
                <div class="breadcrumb-content">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Li's Breadcrumb Area End Here -->
        <!--Checkout Area Strat-->
        <div class="checkout-area">
            <div class="container">
                <div class="row justify-content-between">
                    <style>
                        #clickableDiv {
                            cursor: pointer;
                            height: 400px; 
                        }
                        .dynamicDiv {
                            cursor: pointer;
                            height: 400px; 
                        }
                    
                        .dynamicDIv p {
                            font-size: 22px !important;
                            color: #131212;
                        }
                    
                        #clickableDiv:hover {
                            background-color: rgb(178, 190, 181)
                        }
                        .dynamicDiv:hover {
                            background-color: rgb(178, 190, 181)
                        }
                    </style>
                    
                    <div id="clickableDiv"
                        class="col-12 col-md-5 mb-5 d-flex flex-column align-items-center justify-content-center rounded">
                        <span style="font-size: 150px; text-align: center;">+</span>
                        <span style="font-size: 30px;">Add Address</span>
                    </div>
                    <script>
                        document.getElementById("clickableDiv").addEventListener("click", function () {
                            window.location.href = "/user/check-out/null";
                        });
                    </script>
                    <% if (typeof userData !=='undefined' ) { %>
                        <% userData.address.forEach((element)=> { %>
                            <div id="dynamicDiv_<%=element._id%>" class="col-12 col-md-5 mb-5 rounded dynamicDiv">
                                <h1>
                                    <span name>
                                        <%=element.firstName%>
                                    </span>
                                    <span>
                                        <%=element.lastName%>
                                    </span>
                                </h1>
                                <p>
                                    <%=element.address%>
                                </p>
                                <p>
                                    <%=element.city%>
                                </p>
                                <p>
                                    <%=element.state%>
                                </p>
                                <p>
                                    <%=element.postCode%>
                                </p>
                                <p>
                                    <%=element.email%>
                                </p>
                                <p>
                                    <%=element.phone%>
                                </p>
                                <!-- <button>edit</button>
                            <button>delete</button> -->
                            </div>
                            <% }) %>
                                <% } %>
                                <script>
                                    // Add event listener using event delegation to document.body
                                    document.body.addEventListener('click', function (event) {
                                        const clickedElement = event.target.closest('.dynamicDiv');
                                        if (clickedElement) {
                                            const elementId = clickedElement.id.split('_')[1];
                                            window.location.href = `/user/check-out/${elementId}`;
                                        }
                                    });
                                </script>

                </div>
            </div>

            <!--Checkout Area End-->
            <!-- Begin Footer Area -->
            <div class="footer">
                <!-- Begin Footer Static Top Area -->
                <div class="footer-static-top">
                    <div class="container">
                        <!-- Begin Footer Shipping Area -->
                        <div class="footer-shipping pt-60 pb-55 pb-xs-25">
                            <div class="row">
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="user/images/shipping-icon/1.png" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>Free Delivery</h2>
                                            <p>And free returns. See checkout for delivery dates.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-sm-55 pb-xs-55">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="user/images/shipping-icon/2.png" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>Safe Payment</h2>
                                            <p>Pay with the world's most popular and secure payment methods.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="user/images/shipping-icon/3.png" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>Shop with Confidence</h2>
                                            <p>Our Buyer Protection covers your purchasefrom click to delivery.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                                <!-- Begin Li's Shipping Inner Box Area -->
                                <div class="col-lg-3 col-md-6 col-sm-6 pb-xs-30">
                                    <div class="li-shipping-inner-box">
                                        <div class="shipping-icon">
                                            <img src="user/images/shipping-icon/4.png" alt="Shipping Icon">
                                        </div>
                                        <div class="shipping-text">
                                            <h2>24/7 Help Center</h2>
                                            <p>Have a question? Call a Specialist or chat online.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Li's Shipping Inner Box Area End Here -->
                            </div>
                        </div>
                        <!-- Footer Shipping Area End Here -->
                    </div>
                </div>
                <!-- Footer Static Top Area End Here -->
                <!-- Begin Footer Static Middle Area -->
                <div class="footer-static-middle">
                    <div class="container">
                        <div class="footer-logo-wrap pt-50 pb-35">
                            <div class="row">
                                <!-- Begin Footer Logo Area -->
                                <div class="col-lg-4 col-md-6">
                                    <div class="footer-logo">
                                        <img img src="admin/logo/2.png" alt="" width="200px" height="50px">
                                        <p class="info">
                                            We are a team of designers and developers that create high quality HTML
                                            Template & Woocommerce, Shopify Theme.
                                        </p>
                                    </div>
                                    <ul class="des">
                                        <li>
                                            <span>Address: </span>
                                            Payyoli,Kozhikode,Kerala,673522,INDIA
                                        </li>
                                        <li>
                                            <span>Phone: </span>
                                            <a href="#">+91 9020432432</a>
                                        </li>
                                        <li>
                                            <span>Email: </span>
                                            <a>jamsheerpayyoli@gmail.com</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Footer Logo Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="footer-block">
                                        <h3 class="footer-block-title">Product</h3>
                                        <ul>
                                            <li><a href="#">Prices drop</a></li>
                                            <li><a href="#">New products</a></li>
                                            <li><a href="#">Best sales</a></li>
                                            <li><a href="#">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Footer Block Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-2 col-md-3 col-sm-6">
                                    <div class="footer-block">
                                        <h3 class="footer-block-title">Our company</h3>
                                        <ul>
                                            <li><a href="#">Delivery</a></li>
                                            <li><a href="#">Legal Notice</a></li>
                                            <li><a href="#">About us</a></li>
                                            <li><a href="#">Contact us</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Footer Block Area End Here -->
                                <!-- Begin Footer Block Area -->
                                <div class="col-lg-4">
                                    <div class="footer-block">
                                        <h3 class="footer-block-title">Follow Us</h3>
                                        <ul class="social-link">
                                            <li class="facebook">
                                                <a href="https://www.facebook.com/" data-toggle="tooltip"
                                                    target="_blank" title="Facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li class="instagram">
                                                <a href="https://www.instagram.com/" data-toggle="tooltip"
                                                    target="_blank" title="Instagram">
                                                    <i class="fa fa-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- Begin Footer Newsletter Area -->
                                    <div class="footer-newsletter">
                                        <h4>Sign up to newsletter</h4>
                                        
                                            <div id="mc_embed_signup_scroll">
                                                <div id="mc-form" class="mc-form subscribe-form form-group">
                                                    <input id="mc-email" type="email" autocomplete="off"
                                                        placeholder="Enter your email" />
                                                    <button class="btn" id="mc-submit">Subscribe</button>
                                                </div>
                                            </div>
                                       
                                    </div>
                                    <!-- Footer Newsletter Area End Here -->
                                </div>
                                <!-- Footer Block Area End Here -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Footer Static Middle Area End Here -->
                <!-- Begin Footer Static Bottom Area -->
                <div class="footer-static-bottom pt-55 pb-55">
                </div>
                <!-- Footer Static Bottom Area End Here -->
            </div>
            <!-- Footer Area End Here -->
        </div>
        <!-- Body Wrapper End Here -->
        <!-- jQuery-V1.12.4 -->
        <script src="user/js/vendor/jquery-1.12.4.min.js"></script>
        <!-- Popper js -->
        <script src="user/js/vendor/popper.min.js"></script>
        <!-- Bootstrap V4.1.3 Fremwork js -->
        <script src="user/js/bootstrap.min.js"></script>
        <!-- Ajax Mail js -->
        <script src="user/js/ajax-mail.js"></script>
        <!-- Meanmenu js -->
        <script src="user/js/jquery.meanmenu.min.js"></script>
        <!-- Wow.min js -->
        <script src="user/js/wow.min.js"></script>
        <!-- Slick Carousel js -->
        <script src="user/js/slick.min.js"></script>
        <!-- Owl Carousel-2 js -->
        <script src="user/js/owl.carousel.min.js"></script>
        <!-- Magnific popup js -->
        <script src="user/js/jquery.magnific-popup.min.js"></script>
        <!-- Isotope js -->
        <script src="user/js/isotope.pkgd.min.js"></script>
        <!-- Imagesloaded js -->
        <script src="user/js/imagesloaded.pkgd.min.js"></script>
        <!-- Mixitup js -->
        <script src="user/js/jquery.mixitup.min.js"></script>
        <!-- Countdown -->
        <script src="user/js/jquery.countdown.min.js"></script>
        <!-- Counterup -->
        <script src="user/js/jquery.counterup.min.js"></script>
        <!-- Waypoints -->
        <script src="user/js/waypoints.min.js"></script>
        <!-- Barrating -->
        <script src="user/js/jquery.barrating.min.js"></script>
        <!-- Jquery-ui -->
        <script src="user/js/jquery-ui.min.js"></script>
        <!-- Venobox -->
        <script src="user/js/venobox.min.js"></script>
        <!-- Nice Select js -->
        <script src="user/js/jquery.nice-select.min.js"></script>
        <!-- ScrollUp js -->
        <script src="user/js/scrollUp.min.js"></script>
        <!-- Main/Activator js -->
        <script src="user/js/main.js"></script>
</body>

<!-- checkout31:27-->

</html>